@import url('https://fonts.googleapis.com/css2?family=Itim&family=Sedgwick+Ave+Display&display=swap');

html{
    font-size: 16px;
}

body{
    background-color: black !important;
    font-family: 'Itim', cursive !important;
}


nav{
    width: 100%;
    height: 70px;
    position: fixed !important;
    transition: all 500ms;
    align-items: center;
    z-index: 2;
    background-color: #023f1d;
}

.container-fluid{
    width: 100%;
    justify-content: space-around !important;
    align-items: center;
}

.navbar-collapse{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px auto;
}

.navbar-nav{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.nav-item{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center
}

.nav-item a{
    height: 50%;
    display: flex;
    align-items: center;
    transition: all 500ms;
    border-radius: 50px;
}

.nav-item a:hover{
    background-color: white;
    color: black !important;
}

.nav-item img{
    height: 2rem;
    object-fit: cover;
    border-radius: 50%;
}

nav .nav-icon{
    background-color: white;
}

nav p{
    color: white !important;
    margin-top: 20px;
}

.nav-link{
    color: white !important;
}

main{
    padding-top: 100px !important;
    color: white !important;
    height: 90vh;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3rem;
}

h1, h2{
    font-family: 'Sedgwick Ave Display', cursive;
    text-align: center;
}

.header_main{
    margin: 1rem;
    color: white;
}

.header_main input{
    border-radius: 10px;
}

.btn-one{
    border: 0;
    border-radius: 10px;
    padding: 5px;
    color: white;
    transition: all 500ms;
    background-color: #023f1d;
}

.btn-one:hover{
    color: black;
    background-color: white;
}

.section_games{
    color: black !important;
    width: 95%;
    border: 2px solid black;
}

.table_games{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 1fr 1fr 1fr;
}


.table_games button img{
    opacity: 0;
}

.table_games button img.up{
    opacity: 1;
}

.table_games button img.selected{
    opacity: 1;
}

#show_current_games{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contain_game{
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 3fr 2fr 1fr 1fr 1fr;
    transition: all 500ms;
}

.contain_game:hover h5{
    background-color: #023f1d;
    color: white;
}

.contain_game h5{
    height: 90%;
    background-color: white;
    margin: 0;
}

.contain_new_game{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.modal-header{
    background-color: black;
    color: white;
}

.modal-body{
    background-color: black;
    color: white;
}

.modal-body input{
    border-radius: 10px;
}

.modal-footer{
    background-color: black !important;
    color: white;
}

#data_new_game input{
    width: 100%;
}

#img_new_game{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 45vh;
}

#img_new_game img{
    height: 90%;
    object-fit: contain;
}

.contain_game h5{
    font-size: 1.2rem;
}


footer{
    background-color: white;
}